<template>
  <div>
    <div>
      <form @submit.prevent="addTodo">
        <input type="text" v-model="taskName" placeholder="press Enter to input">
      </form>
      <todo-list :todos="todos"></todo-list>
    </div>
    <todo-list></todo-list>
  </div>
</template>

<style>
.completed {
  text-decoration-line: line-through;
}
</style>

<script>
import newTodo from '@/stores/creatingNewTodos'
const TodoList = {
  props: ['todos'],
  template: `
    <div>
      <ul>
        <li v-for="t in todos" :class="{ completed: t.completed }">{{t.task}}</li>
      </ul>
    </div>
  `
}
export default {
  name: 'creatingNewTodos',
  data () {
    return {
      taskName: ''
    }
  },
  store: newTodo,
  computed: {
    todos () {
      return this.$store.getters.todos
    }
  },
  methods: {
    addTodo () {
      this.$store.commit('addTodo', this.taskName)
    }
  },
  components: {
    'todo-list': TodoList
  }
}
</script>
