<template>
  <div style="text-align: left;">
    <form>
      <input type="text">
    </form>
    <div>
      <todo-list :todos="todos"></todo-list>
    </div>
    <todo-list></todo-list>
  </div>
</template>

<style>
ul li {
  list-style: none;
}
li::before {
  content: '> ';
}
.completed {
  text-decoration-line: line-through;
}
</style>

<script>
import store from '@/stores/listingTodos'
const TodoList = {
  props: ['todos'],
  template: `
    <div>
      <ul>
        <li v-for="t in todos" :class="{ completed: t.completed }">{{t.task}}</li>
      </ul>
    </div>
  `
}
export default {
  name: 'listingTodos',
  data () {
    return {

    }
  },
  store: store,
  computed: {
    todos () {
      return this.$store.getters.todos
    }
  },
  components: {
    // Add child component to App
    'todo-list': TodoList
  }
}
</script>
